SM_TARSBookingUpsert_Async_Low/CORE_SERVICE/ProcessUtilities/ProcessCtx/Ctx_Gen-Start-Input.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:bwCustomFunctions="java://com.tibco.tibcobw.customfunctions.bwCustomFunctions"  xmlns:ns30="http://soa.coe.com/CommonTypes/Mediation/Framework" xmlns:ns="http://soa.coe.com/CommonTypes/Mediation/Framework_MsgHeaderTypes" xmlns:ns2="http://www.tibco.com/pe/DeployedVarsType" xmlns:ns4="http://www.tibco.com/pe/GenerateErrorActivity/InputSchema" xmlns:ns5="http://soa.coe.com/CommonTypes/Mediation/Framework/BWException" xmlns:pd="http://xmlns.tibco.com/bw/process/2003" xmlns:pfx="http://soa.coe.com/infra/mediation/CommonServices/LogEvent" xmlns:pfx2="http://soa.coe.com/CommonTypes/Mediation/MsgHeader" xmlns:pfx3="http://soa.coe.com/CommonTypes/Mediation/BWProcessContext" xmlns:pfx4="http://soa.coe.com/CommonTypes/Mediation/xmlMsg" xmlns:pfx5="http://soa.coe.com/CommonTypes/Mediation/MsgHeader_simple" xmlns:pfx6="http://www.tibco.com/pe/Inspector" xmlns:tib="http://www.tibco.com/bw/xslt/custom-functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="/SM_TARSBookingUpsert_Async_Low/CORE_SERVICE/ProcessUtilities/ProcessCtx/Ctx_Gen-Start-Input.xsd" xmlns:pref="http://soa.coe.com/CommonTypes/Mediation/Framework_MsgHeaderTypes">
    <xsd:import namespace="http://soa.coe.com/CommonTypes/Mediation/Framework_MsgHeaderTypes" schemaLocation="../../../CORE_COMMON/Resources/Schemas/CommonTypes/MsgHeaderTypes.xsd"/>
    <xsd:import namespace="http://soa.coe.com/CommonTypes/Mediation/Framework" schemaLocation="../../../CORE_COMMON/Resources/Schemas/CommonTypes/CommonFrameworkTypes.xsd"/>
    <xsd:element name="Input">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="overwrite_exchangeId" type="xsd:string"/>
                <xsd:element minOccurs="0" name="overwrite_serviceId" type="xsd:string"/>
                <xsd:element minOccurs="0" name="exchangeCode" type="xsd:string"/>
                <xsd:element minOccurs="0" name="serviceCode" type="xsd:string"/>
                <xsd:element minOccurs="0" name="overwrite_weight" type="xsd:int"/>
                <xsd:element minOccurs="0" name="messageContext">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="msgSentTimestamp" type="xsd:dateTime"/>
                            <xsd:element minOccurs="0" name="msgId" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="msgPriority" type="xsd:int"/>
                            <xsd:element minOccurs="0" name="msgTransactionId" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="msgCorrelationId" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="msgSourceSystem" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="msgProperties" type="ns30:nvp_list_type"/>
                            <xsd:element minOccurs="0" name="msgBatchInfo" type="ns:batch_info_type"/>
                            <xsd:element minOccurs="0" name="xmlMsgAction" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="msgResubmitInd" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Body" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="linkedError">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:any namespace="##any" processContents="skip"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="extendedCtx">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="EnablePathHistory" type="xsd:boolean"/>
                <xsd:element minOccurs="0" name="isHandlingMFReturn" type="xsd:boolean"/>
                <xsd:element minOccurs="0" ref="ns:History"/>
                <xsd:element minOccurs="0" name="privateContext" type="ns:sequence_any_type"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
