SM_TARSBookingUpsert_Async_Low/CORE_COMMON/ProcessUtilities/ErrorHandling/ReadProcessStack-getProcessStackInline.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:BW="java://com.tibco.pe.core.JavaCustomXPATHFunctions" xmlns:ns="http://www.tibco.com/pe/EngineTypes" xmlns:ns0="http://www.tibco.com/pe/GenerateErrorActivity/InputSchema" xmlns:pd="http://xmlns.tibco.com/bw/process/2003" xmlns:tib="http://www.tibco.com/bw/xslt/custom-functions" xmlns:tns="/CORE_COMMON/ProcessUtilities/ErrorHandling/ReadProcessStack.process/getProcessStack" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="/CORE_COMMON/ProcessUtilities/ErrorHandling/ReadProcessStack.process/getProcessStack">
    <xsd:element name="map">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="tokenizedStack" type="xsd:string"/>
                <xsd:element name="stackSize" type="xsd:positiveInteger"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
