SM_TARSBookingUpsert_Async_Low/CORE_LOG/ProcessUtilities/Shared/Logging/SendLogEvent-Start-Input.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema
	xmlns:bwCustomFunctions="java://com.tibco.tibcobw.customfunctions.bwCustomFunctions"
	xmlns:ns="http://www.tibco.com/pe/DeployedVarsType"
	xmlns:ns0="www.tibco.com/plugin/Sleep"
	xmlns:ns1="http://soa.coe.com/CommonTypes/Mediation/Framework/BWException"
	xmlns:ns2="http://www.tibco.com/pe/GenerateErrorActivity/InputSchema"
	xmlns:ns3="http://soa.coe.com/CommonTypes/Mediation/Framework_MsgHeaderTypes"
	xmlns:ns4="http://www.tibco.com/namespaces/tnt/plugins/jms"
	xmlns:ns5="http://soa.coe.com/CommonTypes/Mediation/MsgHeader"
	xmlns:pd="http://xmlns.tibco.com/bw/process/2003"
	xmlns:pfx="http://soa.coe.com/infra/mediation/CommonServices/LogEvent"
	xmlns:pfx2="http://soa.coe.com/CommonTypes/Mediation/xmlMsg"
	xmlns:tib="http://www.tibco.com/bw/xslt/custom-functions"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="/SM_TARSBookingUpsert_Async_Low/CORE_LOG/ProcessUtilities/Shared/Logging/SendLogEvent-Start-Input.xsd"
	xmlns:pref="http://soa.coe.com/CommonTypes/Mediation/Framework_MsgHeaderTypes">
	<xsd:import
		namespace="http://soa.coe.com/infra/mediation/CommonServices/LogEvent"
		schemaLocation="../../../Resources/Schemas/Log/LogEvent.xsd" />
	<xsd:import
		namespace="http://soa.coe.com/CommonTypes/Mediation/Framework_MsgHeaderTypes"
		schemaLocation="../../../../CORE_COMMON/Resources/Schemas/CommonTypes/MsgHeaderTypes.xsd" />
	<xsd:import schemaLocation="../../../../CORE_COMMON/Resources/Schemas/CommonTypes/CommonFrameworkTypes.xsd" namespace="http://soa.coe.com/CommonTypes/Mediation/Framework"></xsd:import>
	<xsd:element name="input">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="exchangeId"
					type="ns3:exchange_id_type" />
				<xsd:element name="serviceId"
					type="ns3:service_id_type" />
				<xsd:element name="exchangeCode"
					type="ns3:exchange_code_type" />
				<xsd:element name="serviceCode"
					type="ns3:service_code_type" />
				<xsd:element name="enabletracing"
					type="ns3:enable_tracing_type" />
				<xsd:element name="log_msgbody"
					type="ns3:log_msg_body_type" />
				<xsd:element name="log_msgconsulting"
					type="ns3:log_msg_consulting_type" />
				<xsd:element name="log_component"
					type="ns3:log_component_type" />
				<xsd:element name="log_component_error"
					type="ns3:log_component_error_type" />
				<xsd:element minOccurs="0" name="start_ech"
					type="ns3:start_ech_type" />
				<xsd:element minOccurs="0" name="end_ech"
					type="ns3:end_ech_type" />
				<xsd:element minOccurs="0" name="set_ech_error"
					type="ns3:set_ech_error_type" />
				<xsd:element minOccurs="0" name="privateCtxt"
					type="ns3:sequence_any_type" />
				<xsd:element minOccurs="0" name="batchInfo"
					type="ns3:batch_info_type" />
				<xsd:element name="isReplay" type="ns3:is_replay_type" />
				<xsd:element name="weight" type="xsd:integer" />
				<xsd:element minOccurs="0" name="exchangeVersion"
					type="ns3:version_type" />
				<xsd:element minOccurs="0" name="exchangeHistory"
					type="ns3:sequence_any_type" />
				<xsd:element minOccurs="0" name="transactionid"
					type="ns3:transaction_id_type" />
				<xsd:element minOccurs="0" name="correlationid"
					type="ns3:correlation_id_type" />
				<xsd:element minOccurs="0" name="extendedCtx"
					type="ns3:sequence_any_type" />
				<xsd:element ref="pfx:logEvent" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
