SM_TARSBookingUpsert_Async_Low/CORE_SERVICE/Resources/Schemas/ProcessContext/MsgBodyProcessContext.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://soa.coe.com/CommonTypes/Mediation/BWProcessContext" xmlns:CTMF="http://soa.coe.com/CommonTypes/Mediation/Framework" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://soa.coe.com/CommonTypes/Mediation/BWProcessContext">

	<!--***-->
	<xs:element name="processContextMsgBody" type="process_context_msg_body_type"/>

	<!--***-->
	<xs:complexType name="process_context_msg_body_type">
		<xs:sequence>
			<xs:element name="body" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
