SM_TARSBookingUpsert_Async_Low/CORE_COMMON/Resources/Schemas/JMSCustomProps/JMSAppProps.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ns.tibco.com/jms/appProp/JMSAppProps" targetNamespace="http://ns.tibco.com/jms/appProp/JMSAppProps">
  <complexType name="JMSAppProps">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="SoapAction" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="xmlMsgAction" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="resubmitIndicator" type="string"/>
    </sequence>
  </complexType>
</schema>
