SM_TARSBookingUpsert_Async_Low/CORE_SERVICE/ProcessUtilities/xmlMsgSend/Reply-To-Send-Jms-Sync-Start-Input.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:bwCustomFunctions="java://com.tibco.tibcobw.customfunctions.bwCustomFunctions" xmlns:ns="http://www.tibco.com/pe/DeployedVarsType" xmlns:ns0="www.tibco.com/plugin/Sleep" xmlns:ns1="http://soa.coe.com/CommonTypes/Mediation/Framework/BWException" xmlns:ns12="http://www.allianz.fr/CommonTypes/Mediation/Framework/BWException" xmlns:ns2="http://www.tibco.com/pe/GenerateErrorActivity/InputSchema" xmlns:ns3="http://soa.coe.com/CommonTypes/Mediation/Framework" xmlns:ns4="http://www.tibco.com/namespaces/tnt/plugins/jms" xmlns:ns5="http://soa.coe.com/CommonTypes/Mediation/MsgHeader" xmlns:ns6="http://soa.coe.com/CommonTypes/Mediation/BWProcessContext" xmlns:pd="http://xmlns.tibco.com/bw/process/2003" xmlns:pfx="http://soa.coe.com/CommonTypes/Mediation/xmlMsg" xmlns:pfx1="http://soa.coe.com/infra/mediation/CommonServices/LogEvent" xmlns:tib="http://www.tibco.com/bw/xslt/custom-functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="/SM_TARSBookingUpsert_Async_Low/CORE_SERVICE/ProcessUtilities/xmlMsgSend/Reply-To-Send-Jms-Sync-Start-Input.xsd">
    <xsd:element name="Input">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="overwriteMsgId" type="xsd:string"/>
                <xsd:element name="Body">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:any namespace="##any" processContents="lax"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
