SM_TARSBookingUpsert_Async_Low/CORE_SERVICE/Resources/Schemas/SecurityPolicies/SecurityAuditHeader.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ns.tibco.com/jms/appProp/SecurityAuditHeader" targetNamespace="http://ns.tibco.com/jms/appProp/SecurityAuditHeader">
  <complexType name="SecurityAuditHeader">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="BusinessUser" type="string"/>
      <element maxOccurs="1" minOccurs="1" name="CodeSA" type="string"/>
    </sequence>
  </complexType>
</schema>
